.Acerca {
    display: flex;
    width: 700px;
    height: 300px;
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 1em;
    backdrop-filter: blur(15px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores WebKit */
     /* Borde blanco semi-transparente */
    background-color: #272728;
    padding: 40px;
    border-radius: 15px;
    margin-top: 8em;
    margin-bottom: 8em;
    text-align: center;
    color: white;
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

.Acerca::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(ellipse, #0d99ff 0%, rgba(255, 255, 255, 0) 35%);
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: -1; /* Asegúrate de que esto esté detrás de otros elementos */
    pointer-events: none; /* Permite que los clics pasen a través del pseudo-elemento */
}

.Acerca::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 44, 44); /* Color sólido para bloquear la iluminación detrás del contenedor */
    border-radius: 15px; /* Coincide con el borde del contenedor */
    z-index: -1; /* Debe estar detrás del contenido pero delante del pseudo-elemento ::before */
}


.Acerca_imagen {
    width: 100%;
    /* background-color: red; */
    /* height: 300px; */
    padding: .5em;
    /* background-color: transparent; */
}
.Acerca_imagen img {
    border-radius: 15px;
}

.Acerca_info {
    /* background-color: purple; */
    display: flex;
    margin-left: 2em;
    flex-direction: column;
    align-items: center;
    /* background-color: transparent; */
}

.boton_Acerca {
    font-family: "DM Sans", sans-serif;
    background: #0d99ff;
    border: none;
    color: white;
    text-shadow: 
        -1px -1px 0 #524646,  
         1px -1px 0 #524646,
        -1px  1px 0 #524646,
         1px  1px 0 #524646; /* Sombra en las cuatro direcciones */
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}


