/* Card.css */
.contenedorCard {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}

.contenedorCard_Imagen {
  margin-bottom: 10px;
}

.card-icon {
  font-size: 4rem; /* Ajusta el tamaño del ícono según sea necesario */
  background: linear-gradient(135deg, #0d99ff, #59EBFF); /* Degradado de colores */
  -webkit-background-clip: text;
  color: #0d99ff;
  background-clip: text;
  /* color: transparent; Hace que el color del ícono sea transparente para mostrar el degradado */
  margin: 0 auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card-icon:hover {
  transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el cursor */
  filter: brightness(1.2); /* Aumenta el brillo del ícono para un efecto más visible */
}

.contenedorCard_Texto {
  text-align: center;
  /* color: white; */
}

.contenedorCard_Texto_Titulo {
  font-size: 1.5rem;
  margin: 0;
  color: white; /* Ajusta el color del título según tus preferencias */
}

.contenedorCard_Texto_Parrafo {
  font-size: 1rem;
  color: #333; /* Ajusta el color del párrafo según tus preferencias */
}
