.Gancho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 1em;
}