.header {
  display: flex;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  align-items: center;
  padding: 2em;
  background-color: #333;
  color: white;
  /* width: 100%; */
}

/* Animación de pulsación para el logo */
@keyframes pulse {
  0% {
    transform: scale(1);
    color: white;
  }
  50% {
    transform: scale(1.1);
    color: #ff5733; /* Cambia el color durante la animación */
  }
  100% {
    transform: scale(1);
    color: white;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  animation: pulse 1s infinite; /* Repite la animación infinitamente */
  text-shadow: 0 0 10px rgba(255, 87, 51, 0.5); /* Sombra suave para profundidad */
}


.nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px; /* Espacio entre los ítems del menú */
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.nav ul li a.active {
  background-color: #0d99ff; /* Cambia este color según tu preferencia */
  border-radius: 5px;
}

.contact-button {
  background-color: #ff5733;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-button.active {
  background-color: #0d99ff; /* Color de fondo cuando está activo */
}

.contact-button:hover {
  background-color: #c70039;
}


  