body {
    /* padding: .15em; */
    background-color: #272728;
    margin: 0;
    font-family: Arial, sans-serif;
  }
Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.imagenInicial {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion1 {
    /* width: 5em; */
    display: flex;
    justify-content: center;
    gap: .5em;
}
.seccionProyectos {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.Habilidades_Home{
    color: white;
    text-align: center;
}

.seccion1 {
    margin-top: 4em;
    margin-bottom: 4em;
}

.seccionProyectos img {
    border-radius: 1.3em;
}
